@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*,
*::after,
*::before {
  font-family: "Noto Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Content Wrapper  */
.content {
  height: calc(100vh - 100px - 50px);
  display: flex;
}

/* Header  */
.header {
  color: white;
  background-color: gray;
  height: 100px;
  line-height: 100px;
  padding-left: 15px;
}

/* Sidebar  */
.left-panel {
  background-color: lightgrey;
  height: 100%;
  width: 200px;
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.active {
  background-color: grey;
  font-weight: 700;
}

.btn-default,
.btn-add-project,
.btn-add-task {
  color: inherit;
  background-color: inherit;
  cursor: pointer;
  padding: 6px;
  border: none;
  outline: none;
  border-radius: 4px;
  text-align: start;
}

.btn-default:hover,
.btn-add-project:hover,
.btn-add-task:hover {
  background-color: gray;
}

.btn-add-task {
  width: 5rem;
  text-align: center;
  color: white;
  background-color: gray;
  margin-top: auto;
}

.btn-add-task:hover {
  color: grey;
  background-color: white;
}

/* Footer  */
.footer {
  color: white;
  background-color: gray;
  height: 50px;
  line-height: 50px;
  padding-left: 15px;
}

/* New Task Form  */
.form-wrapper {
  visibility: hidden;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(2px);
}

.new-task-form {
  background-color: white;
  border-radius: 8px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40rem;
}

.form-header {
  border-radius: 8px 8px 0 0;
  color: white;
  background-color: grey;
  padding: 10px;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  padding: 8px;
}

.textarea {
  border: none;
  outline: none;
  resize: none;
}

#input-title {
  font-weight: 600;
}

.input-btn {
  background-color: inherit;
  margin: 4px;
  padding: 6px;
  border: 1px solid black;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
}

.input-btn:hover {
  background-color: lightgrey;
}

.input-btn:active {
  background-color: grey;
}

/* Right Panel  */

.right-panel {
  width: 100%;
  padding: 15px;
}

.task-wrapper {
  max-width: 1000px;
  padding: 10px;
  margin: 10px 0;
  border-radius: 4px;
  background-color: lightgrey;
  display: flex;
  justify-content: space-between;
}

.left-side,
.right-side {
  display: flex;
}

.task-title,
.task-description,
.task-date,
.task-important,
.task-done {
  margin: 0 5px;
}

.task-title {
  font-weight: 600;
}

.task-description {
  font-size: 0.8rem;
  align-self: center;
}

.task-important {
  color: darkred;
  font-weight: 600;
  min-width: 15px;
}

.toggled {
  color: white;
  background-color: grey;
}

.task-date {
  min-width: 85px;
}
